[2019-10-20 11:23] jgrss opened #16 "BRDF normalization"
GeoWombat now has a `geowombat.norm_brdf` function, but it hasn't been thoroughly tested.

[2019-10-20 11:32] jgrss opened #18 "Google Cloud and Amazon AWS direct reads"
Google Cloud public reference (Landsat)
- https://cloud.google.com/storage/docs/public-datasets/landsat

Google Cloud public reference (Sentinel-2)
- https://cloud.google.com/storage/docs/public-datasets/sentinel-2

Landsat 8 Collection 1
- https://console.cloud.google.com/storage/browser/gcp-public-data-landsat/LC08/01

Read file from Google example
- fn = 'http://storage.googleapis.com/gcp-publi

[2019-10-24 22:54] jgrss opened #19 "Image co-registration"
Look into adding a co-registration module that uses the AROSICS algorithm.

https://pypi.org/project/arosics/

[2019-10-24 22:57] jgrss opened #20 "Fix iteration over extract outputs"
Currently, `geowombat.extract` iterates over the output of `dask.vindex` using Python loops. This behavior should be changed to use `numpy` reshaping.

[2019-10-25 00:49] #20 closed, assigned to jgrss

[2020-01-13 00:42] #16 closed, assigned to jgrss

[2020-01-13 00:44] #19 closed, assigned to nobody

[2020-01-27 00:57] rdenham opened #22 "Data extraction using bounds raises TypeError"
When trying to extract data using a tuple of bounded coordinates, I get an error. Here is the example taken from the documentation:
[code]

And the error:
[code]

This is caused in the call to `numpy.linspace` using the calculated window width as the argument `num`. But the window width as calculated by `rio.window.from_bounds` returns a float not an integer.

Perhaps this should be cast to an int

[2020-01-27 22:44] jgrss commented on #22
Thanks for pointing this out. The `bounds` argument triggers a read using `dask.delayed`. I will look into this issue. In the meantime, you can achieve the same read by:

[code]

[2020-01-28 00:02] jgrss commented on #22
@rdenham There were multiple issues with `dask.delayed` reads. The first issue regarding coordinate creation was fixed in [7f5a03e431fda52b37a985026db85219407bf8b9](https://github.com/jgrss/geowombat/commit/7f5a03e431fda52b37a985026db85219407bf8b9). All fixes were pushed to `v1.1.1`.

[2020-02-15 01:48] b7j opened #23 "crs error"
return the following error, even when using geowombat rgbn test image:

rasterio.errors.CRSError: Unable to open EPSG support file gcs.csv.  Try setting the GDAL_DATA environment variable to point to the directory containing EPSG csv files.

[2020-02-15 02:41] jgrss commented on #23
Hi @b7j, this is a rasterio issue that can be found [here](https://rasterio.readthedocs.io/en/latest/faq.html) and [here](https://github.com/mapbox/rasterio/issues/1539).

You should have the environment variable `GDAL_DATA` set to the directory that has files similar to:

[code]

On Linux, installing GDAL with apt puts `GDAL_DATA` in `/usr/share/gdal`. On Windows, you might have to set the enviro

[2020-02-15 04:23] b7j commented on #23
Thanks Jordan, Jason here, not sure why im getting this issue now, i thought it was a corrupt conda install but with a new env and a reinstall of everything problem persisted. Will take a look at your suggestions.

[2020-02-15 05:18] b7j commented on #23
Still stuggling with how to set the conda env variable, found the path to the directory but carnt figure out  how to set the GDAL_DATA variable to that path?

[2020-02-15 12:09] b7j commented on #23
likely gdal version problem

[2020-02-15 12:09] #23 closed

[2020-03-03 16:42] mmann1123 opened #24 "Updating attributes with band math"
Maybe a minor tweek to improve band math.

[code]
returns
[code]

Shouldn't attributes be updated to reflect a single band after running band math?  For instance nodatavals:   (0.0), scales: (1.0) etc?  This can be problematic I think when going to write out NDVI and needing to reset attributes.

[2020-03-03 17:02] mmann1123 commented on #24
Maybe I should show the exact issue I am seeing, maybe not related to attributes.

[code]

throws:

ValueError: Source shape (1, 64) is inconsistent with given indexes 1

I am assuming it has to do with the use of the config, but not sure there is a  config for single band...

[2020-03-03 23:21] jgrss commented on #24
I agree, the attributes should be updated for band math.

I will see if I can figure out the shape issue. One quick note--if you specify the sensor in the configuration then you don't have to specify the band names in `gw.open()`.

[2020-03-03 23:53] jgrss commented on #24
Ok, the attributes were not the issue when writing the results to file. The problem seems to be the chunk size. The image block size is 64x64, which led to a single row/column at the image edge. Using a larger chunk size fixed it.

[code]

[2020-03-03 23:57] jgrss commented on #24
The band math attributes below will now be updated.

[code]

I also added a 'vi' attribute. When I merge your examples I will push these changes with version `1.2.5`.

[2020-03-14 13:57] mmann1123 opened #27 "VRT AttributeError"
Ran into an issue when mosaicing a single band image and writing to vrt. Sorry not quite sure how to address it.  If you point me in the right direction I can try to figure it out. For a working example see a nearly identical  dataset here [here](https://drive.google.com/file/d/1xHPASY0ZT40rTvS8Uc866FJvpKwbWn1S/view?usp=sharing
https://drive.google.com/file/d/1uoJI7Hl1HFdW6MD6paBR_afWwh6jaZsG/view

[2020-03-15 02:03] mmann1123 commented on #27
Looks like the issue is data.filename, not sure if that was intentional or not. see #28

` # Open the input file on disk
def to_vrt():

    with rio.open(data.filename) as src:

        with WarpedVRT(src,
                       src_crs=src.crs,                         # the original CRS
                       crs=data.crs,                            # the transformed CRS
                       sr

[2020-03-15 02:08] jgrss commented on #27
Thanks for catching this. The `filename` attribute is a `geowombat` attribute. I replaced `data.filename` with `data.gw.filename` in [4d50e2e](https://github.com/jgrss/geowombat/commit/4d50e2e121eea66793a93066f0158ad146a832f8).

[2020-03-16 01:49] mmann1123 commented on #27
New issue...

[code]

[code]

[2020-03-16 01:55] jgrss commented on #27
Yeah, that will have to be an enhancement. At the moment, the `geowombat.to_vrt()` function only supports a single raster input file from `geowombat.open()`.

[2020-03-17 15:24] mmann1123 opened #29 "GDAL_DATA"
I started a new conda env and once again have GDAL path issues. I noticed that fiona seems to have resolved this internally, and thinking maybe we could implement their solution, see link below. Wish I could be of help on this, but this is way above my pay grade.

CPLE_OpenFailedError: Unable to open EPSG support file gcs.csv.  Try setting the GDAL_DATA environment variable to point to the directo

[2020-03-17 23:56] jgrss commented on #29
It looks like [this issue](https://github.com/jgrss/geowombat/issues/23). Perhaps we need to add an example of how to set the `GDAL_DATA` variable to the installation page.

[2020-03-18 21:32] jgrss commented on #29
@mmann1123 I installed GDAL 3.0.2 on Ubuntu and configured my GDAL environment as:

export CPLUS_INCLUDE_PATH=/usr/include/gdal
export C_INCLUDE_PATH=/usr/include/gdal
export GDAL_DATA=../envs/ts3.7/lib/python3.7/site-packages/fiona/gdal_data

[2020-03-18 21:33] jgrss commented on #29
Which version of GDAL are you using? The normal `GDAL_DATA` directory (i.e., /usr/share/gdal/) for 3.0.2 was missing some files.

[2020-03-19 15:25] mmann1123 commented on #29
Yeah I realized that the lookup tables were missing for 302 the other day.
What a pain in my butt, but easy fix.

On Wed, Mar 18, 2020 at 5:34 PM Jordan <notifications@github.com> wrote:

[2020-04-03 15:11] mmann1123 opened #30 "Extract key error"
For a simple gpkg file, getting a key error. Wondering if the index should be used for the id?

[code]

Extracting data using the following:

[code]
Returns
[code]

[2020-04-26 23:33] rdenham opened #33 "Allow both subset using window and stack_dim"
Just wondering if it would be possible to allow both opening multiple images using `stack_dim` and at the same time subsetting using `window`.

Here's what I'd like to do:

[code]
gives an error "The band names do not match the output dimensions." Checking the error, it seems that the data shape is (2, 4, 100, 100). So,

[code]
works fine.

I'm using `geowombat version 1.2.9`

[2020-04-27 01:34] jgrss commented on #33
The `window` argument in `geowombat.open` triggers `dask.delayed` reads, which might be faster than using `xarray.open_rasterio` when opening multiple files. However, it currently has some limited functionality when it comes to multiple band images.

I would recommend using the `geowombat.config.update` manager in most I/O cases. As of version `1.2.9`, `geowombat.config.update` accepts `ref_bounds

[2020-04-27 01:37] jgrss commented on #33
Test the example above in version `1.2.10`.

[2020-07-27 22:34] jgrss opened #38 "Review data editing page"
@mmann1123 I added [a page with some editing examples](https://github.com/jgrss/geowombat/commit/ff6b180c3597763f87c4f0cafcfcb7cd0999b1ef).

Is that what you had in mind?

[2020-07-27 22:41] #22 closed

[2020-07-27 22:42] jgrss commented on #24
I am closing this for now, but we can reopen if there are additional attributes that we want to add.

[2020-07-27 22:42] #24 closed

[2020-08-04 00:55] jgrss commented on #27
I am closing this issue and will open a new one specific to the enhancement of using multiple files with `to_vrt()`.

[2020-08-04 00:55] #27 closed

[2020-08-04 00:57] #38 closed

[2020-08-04 00:57] #33 closed

[2020-08-04 00:59] #30 closed

[2020-08-04 01:02] jgrss commented on #29
Closing this since it is now in the [documentation](https://geowombat.readthedocs.io/en/latest/install.html#gdal-install-ubuntu).

[2020-08-04 01:02] #29 closed

[2020-08-04 01:21] jgrss commented on #18
Since GeoWombat uses `xarray.open_rasterio()` and `rasterio.open()`, direct reads are possible through `geowombat.open()`. See [Rasterio Virtual Files](https://rasterio.readthedocs.io/en/latest/topics/vsi.html) for details.

As an example,

[code]

[2020-08-07 02:01] jgrss opened #41 "Read value error with rasterio.WarpedVRT()"
When `geowombat.open()` is used within a configuration context with reference bounds set, the underlying `rasterio.vrt.WarpedVRT()` modifies the data. The issue appears to only occur with floating point data. Tests on thematic data did not result in incorrect data reads.

## Example

[code]

results in the correct positional read (i.e., the correct bounding box is read), but the data values are mo

[2020-08-07 02:02] jgrss commented on #41
The issue appears to be in the `rasterio.vrt.WarpedVRT()` keyword argument 'nodata'. When `nodata=None`, the data values are modified. If 'nodata' is set as a number, the data values are read correctly.

[2020-08-07 02:26] jgrss commented on #41
[Resolved](https://github.com/jgrss/geowombat/commit/f1a5bca07163da50d540dab8cbde32370e67f385?branch=f1a5bca07163da50d540dab8cbde32370e67f385&diff=unified) by changing the default `nodata=None` to `nodata=0` and adding a `type` check for the 'no data' argument.

[2020-08-07 02:26] #41 closed

[2020-08-07 04:09] jgrss opened #42 "Remove Xarray ufuncs"
Xarray is [dropping support for `xarray.ufuncs`](http://xarray.pydata.org/en/stable/api.html). Instead, NumPy can be used directly on a `DataArray`. The `geowombat.radiometry.sr` and `geowombat.radiometry.angles` modules contain `xarray.ufuncs` that can be replaced with numpy.

[2020-08-07 06:03] jgrss opened #43 "Data fusion"
Add spatial-temporal fusion methods, such as StarFM.

[2020-08-10 19:09] mmann1123 opened #44 "Adding sklearn compatability"
I opened an issue with sklearn-xarray folks about [integration with geowombat data structures](https://github.com/phausamann/sklearn-xarray/issues/52). They answered with a working example and I simultaneously figured most of it out and created a pull request to make it easier for us to use.

[](https://github.com/phausamann/sklearn-xarray/issues/52)

They want to create an example using gw data b

[2020-08-10 21:31] jgrss commented on #44
@mmann1123 here is an example of how you might setup some random data without using geowombat.

## Exclusive of geowombat

[code]

## Create a random dask array

[code]

## Data creation functions

[code]

[code]

## Create the coordinates

[code]

## Create the `DataArray`

[code]

[code]

[2020-08-11 08:45] phausamann commented on #44
Hi @jgrss, I'm the author of sklearn-xarray and have been discussing an example of land use classification with @mmann1123.

Ideally I'd like to use a dataset that includes both actual satellite images and ground truth labels for the land use as this would make for a nice visual example. I've found datasets like [this one](https://ldas.gsfc.nasa.gov/nldas/vegetation-class) with labeled land cover

[2020-08-11 11:24] jgrss commented on #44
Hi @phausamann, It won't be a problem to put some data together. I can prepare something from [MAPBIOMAS](https://mapbiomas.org/en/download?cama_set_language=en) or the [USGS NLCD](https://www.usgs.gov/centers/eros/science/national-land-cover-database?qt-science_center_objects=0#qt-science_center_objects). I think that @mmann1123 and I would like to have a `predict()` method in geowombat (which wi

[2020-08-11 18:37] mmann1123 commented on #44
I will be curious what @phausamann thinks we should do, but @jgrss it seems like we can tie sk-xr in, just need to have some transformers for common gw data structures (see Featurizer, and Stackerizer https://github.com/mmann1123/sklearn-xarray/blob/patch-1/sklearn_xarray/preprocessing.py). It might be easier to keep an equivalent of extract that returns a xarray that is groupby mean for each poly

[2020-08-11 21:17] jgrss commented on #44
@mmann1123 I was thinking that the `geowombat.predict` method might look something like:

[code]

where `gw.predict` would just transform the data and apply the classifier.

What do you think?

[2020-08-11 21:21] jgrss commented on #44
In regards to returning a `DataArray` with `gw.extract` -- I think I would need to see an example of the structure. I usually work with point (x, y) data or polygon data, but rarely with other land use/cover maps.

[2020-08-12 14:38] phausamann commented on #44
Thanks @jgrss, that example is very helpful and exactly what I'm looking for. If I understand correctly, the ground truth data is available as polygons and then gets "interpolated" at the pixel locations by predicting with the fitted estimator?

In any case, with:
[code]
`src` could be directly used in an sklearn-xarray workflow.

[2020-08-12 14:44] phausamann commented on #44
Regarding integration with the package, I'm not really familiar with gw workflows, but I'd be happy help if any issues come up.

[2020-08-13 01:02] jgrss commented on #44
@phausamann

Yes, in the `gw.extract` function, the values at each pixel within the polygons are stored into a `DataFrame` and used to fit the classifier. In the example above, there are only 4 polygons, but `df` has 672 rows by taking the 672 (30m x 30m) pixels within the 4 polygons.

We typically have land use/cover data collected from the field via GPS and/or digitized polygons interpreted from

[2020-08-13 01:07] jgrss commented on #44
@mmann1123 Have you used `gw.extract` on your multi-temporal data?

[code]

The output columns will look like...

[code]

[2020-08-13 14:50] mmann1123 commented on #44
Hey jordan, I will try to send some examples of the xr structures we are looking for today.

The primary issue I have with extract is that I am doing longitudinal data structures (long not wide)

I would normally flatten these array using a multi-index as follows and store them as a pd.dataframe:

| Pixel  | Time | Target |  R |  G | ....|
| -- | -- | --|---| -- | -- |
| 1 | T1  |Forest| 50 | 230

[2020-08-13 16:45] mmann1123 commented on #44
Ok so how nice is this.

### Starting with your random data example above:
[code]
### Create target data
[code]
[code]
### Send to ML pipeline
[code]
[code]
### Predict back to stack
[code]
[code]

[2020-08-14 00:05] jgrss commented on #44
@mmann1123 this looks great.

In your example where you generate fake labels

[code]

What happens when you don't have labels for every pixel in the raster? How does `sklearn xarray` treat nulls?

For example, say instead of wall-to-wall labels, you had polygons that you wanted to sample for each time period.

[code]

[code]

[code]

[2020-08-14 00:12] jgrss commented on #44
The `polygon_to_array` example above returns all nulls because the fake CRS and coordinates don't align with the polygons. It looks like I need to fix an issue with `polygon_to_array` with multiple raster files, but here is an example of the conversion.

[code]

[2020-08-14 00:27] jgrss commented on #44
Alright, with geowombat==1.2.28, the following now works

[code]

[2020-08-14 20:30] mmann1123 commented on #44
@jgrss  Made some progress. Have a basic working version

Notice I am using the new rasterizer version for PR above.

[code]

[2020-08-14 23:07] jgrss commented on #44
@mmann1123 I was originally thinking that we would just have a `predict` method and leave all of the fitting to `sklearn-xarray`. However, in your example, the prediction is just

[code]

so we wouldn't really need a `gw.predict`.

Do we want a helper function for the model fitting, or leave it to the user? It might be nice to to have a `fit` method that handles geospatial data. For example, somet

[2020-08-15 00:57] mmann1123 commented on #44
Yeah I think something that handles the transformations would be a decent
idea, certainly would make things more approachable.

On Fri, Aug 14, 2020 at 4:07 PM Jordan <notifications@github.com> wrote:

[2020-08-15 09:14] jgrss commented on #44
@mmann1123 I started a skeleton for the machine learning module. See the `geowombat.ml` module in the [the ml branch](https://github.com/jgrss/geowombat/tree/ml).

[2020-08-17 15:59] mmann1123 commented on #44
I think a stacker function will be available on sk-xr (@phausamann) soon (on [PR](https://github.com/phausamann/sklearn-xarray/blob/3ed1fc33adecbcb0cc54c4da5041bfd36d446279/sklearn_xarray/preprocessing.py)).

In the meantime do you want to copy a version from [xr_fresh](https://github.com/mmann1123/xr_fresh/blob/master/xr_fresh/transformers.py)?

@jgrss

[2020-08-18 22:41] jgrss commented on #44
@mmann1123 I merged your addition of the transformers. Let's replace it with `sklearn-xarray` when they've pushed a new release.

[2020-08-19 14:24] mmann1123 commented on #44
(moving comment from PR) I was working on figuring out the single date issue with predict. I didn't make much progress other than finding a work around. Maybe we can just always construct a 1 length time dim.

The following works:

with gw.open( [l8_224078_20200518], chunks=50) as src:
    src = src.assign_coords(time=1)

    y = fit_predict(src, labels = polygons, col = 'id', grid_search =False,

[2020-08-19 22:31] jgrss commented on #44
@mmann1123 I added the check for the 'time' coordinate [here](https://github.com/jgrss/geowombat/commit/8cea530d128cee8c9e7658bfde72da77a9cff312).

[2020-08-20 20:47] jgrss commented on #44
@mmann1123 I haven't had time to debug the `ml.fit` method. It wasn't working for me, although I thought I reproduced your example. If you have time, could you test it?

[2020-08-21 16:22] mmann1123 opened #49 "Rare rounding issue in polygon_to_array"
I just ran into a case where generating the x and y coords doesn't match the original xarray dimensions. I can share the file if you want to see it.

When running polygon_to_array:

`ds.shape `
6681 by 5172

after generating coordinates:
[code]

[2020-08-23 23:45] jgrss commented on #44
@mmann1123 The latest version of the [ml branch](https://github.com/jgrss/geowombat/tree/ml) has a working `fit` and `fit_predict` method when using a `Pipeline`. It still isn't working with a single classifier, though.

I changed a few things:
- Fixed the check for the time coordinate
- Allowed use of all sklearn models (they are checked and sklearn-xarray-wrapped, if necessary)
- Changed the out

[2020-08-24 16:36] mmann1123 commented on #49
@jgrss yes that fixes it. Should it be merged?

[2020-08-24 18:01] mmann1123 commented on #44
Ok yeah looks good, sorry I didn't get time for fixing that! I just pushed some minor doc edits.

[2020-08-24 21:06] jgrss commented on #49
This has been merged, with the fix [here](https://github.com/jgrss/geowombat/commit/3908e92e68854d90395953ef31bb7a78d44fb7af).

[2020-08-24 21:06] #49 closed

[2020-08-24 21:55] jgrss commented on #44
@mmann1123 I've merged `ml` with `master` locally and I am adding some documentation examples. After I tidy up a bit, I will push `1.3.0`, which will include the `ml` module.

[2020-08-25 00:06] jgrss commented on #44
@mmann1123 I pushed changes in version `1.3.0`. See the [changelog](https://geowombat.readthedocs.io/en/latest/changelog.html) for details. I added an [example page](https://geowombat.readthedocs.io/en/latest/ml.html), but feel free to add more detail.

[2020-08-25 00:42] mmann1123 opened #52 "to_raster seperate"
Its late and this is a placeholder, but I think I found a problem with to_raster with separate = True (unless Im missing something).

[code]

[2020-08-26 10:38] jgrss commented on #52
I think this was just an issue of trying to get `zarr` data even though you specified 'gtiff'. I pushed a fix to `1.3.1`.

Your data should actually be written because the error occurred in the compression stage. Can you let me know if that was not the case?

[2020-08-28 17:40] mmann1123 commented on #52
Yeah it was written, thanks for catching that!

On Wed, Aug 26, 2020 at 6:38 AM Jordan <notifications@github.com> wrote:

[2020-09-01 10:02] phausamann commented on #44
There's a `Stacker` transformer on the sklearn-xarray develop branch now. However, I'd like to add the land cover classification example before making a new minor release.

Here's what the example data should ideally look like:
[code]

although `land_cover` should be in string format ("Forest", "Water", etc.) instead of int.

The easiest way would be to add this data to the package as a netCDF4 fi

[2020-09-02 15:18] mmann1123 commented on #44
@phausamann I just posted a link to an example dataset similar to what you are looking for. Only main difference is that there are very few landcover training values (most are NaN) which is very typical of this type of work. Let me know if that does the trick.

 [dropbox link](https://www.dropbox.com/s/ktnhv9skc1esbr2/example.nc?dl=0)

[2020-09-04 14:50] mmann1123 opened #54 "poylgon to array issue"
I am trying to debug this, but having some trouble. Although working previously polygon_to_array is having trouble. I tried a few polygons and I am getting the same issue. Just wondering if you have the same issue.

[code]
[code]

[2020-09-04 15:42] mmann1123 commented on #54
Hmm... the gw_sklearn examples still work. Odd...

[2020-09-04 15:55] mmann1123 commented on #54
Stupid error on my part! gw.polygon_to_array(labels,  data=ds ) was outside of the with as:

[2020-09-04 15:55] #54 closed

[2020-09-10 18:57] mmann1123 commented on #44
Found one issue for my use case. If the array is large (many pixels, dates, bands), stacking by (y,x,time) is problematic. I am playing around with some possible solutions now. I will keep you updated if I come up with a solution. @phausamann @jgrss

[2020-09-10 19:47] mmann1123 commented on #44
Ok I have a potential solution, need to try it at scale. Ideally we could write to disk as we go, but this might minimize overhead enough to calculate on larger data.
[code]
@phausamann @jgrss

[2020-09-20 09:04] jgrss commented on #44
@mmann1123 How did this work at scale?

[2020-09-21 13:33] mmann1123 commented on #44
Honestly, I am hung up on at the moment. Seems like in most cases we will need to chunk up the data and store it to disk after the `stack`.  Since `sample` is a multiindex HDF files won't work natively (I have a zombie [stackoverflow question](https://stackoverflow.com/questions/63906769/writing-xarray-multiindex-data-in-chunks) wait wait waiting for a response about this).  For the moment I have

[2020-10-27 09:54] VirginieBfd opened #56 "The DataArray does not have a `crs` attribute."
Morning!

First of all, thanks for the work, the library looks wicked!

I created a dedicated conda env by following your recommended steps:
[code]

Then I installed jupyterlab on top of the conda env to run the following:
![Screenshot from 2020-10-27 09-50-10](https://user-images.githubusercontent.com/26381053/97285291-ef2f7780-1839-11eb-85ff-3b19074227fe.png)

As you can see I am unable to save

[2020-10-27 10:55] jgrss commented on #56
Hi, thanks for trying it!

The `gw` attribute is closed outside of the `with` context. Try it with:

[code]

or

[code]

[2020-10-27 11:53] VirginieBfd commented on #56
My bad, that worked like a charm with your suggestions! If you're looking for contributors I might be interested in joining forces.

[2020-10-27 11:53] #56 closed

[2020-10-28 00:16] jgrss commented on #56
@VirginieBfd Yes, we're happy to have more contributors. Let's get back in touch in a week or so after you've had a look at the library. (I am also online sporadically at the moment.)

[2020-10-29 13:59] #52 closed

[2020-10-29 14:20] mmann1123 opened #57 "ParallelTask window_id actually chunk_id?"
Ok after a lot of fumbling around, I think I figured out an issue I have been having. It seems like in `data, window_id, num_workers = list(itertools.chain(*args)) ` , the `window_id` is actually the chunk_id. I came across this because of the unusual size of my data, but managed to finally figure out a way to replicate it.

If n_windows is ever larger than n_chunks, the window_id iterates through

[2020-10-29 18:11] mmann1123 commented on #57
A a simple solution we could add a chunk id in the generator as follows:

[code]
although I am admittedly a bit confused about chunk vs  window, especially as this relates to pt.n_chunks pt.n_windows

[2020-10-29 18:39] mmann1123 commented on #57
Found a better option (see PR), the following will ensure that the window_id increments from 0 the n_windows without repeat.

[code]

[2020-10-29 21:25] jgrss commented on #57
Nice catch. I should have used `batches` instead of `chunks`. You can think of them as mini batches of windows passed to the parallel executor. I added it a while back to limit memory overhead.

I think we just need the following, right?

[code]

[2020-10-30 00:29] mmann1123 commented on #57
I think you need to multiply to avoid overwriting. Play around with my
example.

On Thu, Oct 29, 2020, 5:25 PM Jordan <notifications@github.com> wrote:

[2020-11-02 09:52] jgrss commented on #57
@mmann1123 The window id was also incorrect in `to_raster`. Both `cidx*self.n_chunks + widx` and `widx+wchunk` produced the same result. The fix was pushed in [911145ecc92bad22f06d0326cadf99d46ec893f2](https://github.com/jgrss/geowombat/commit/911145ecc92bad22f06d0326cadf99d46ec893f2).

[2020-11-02 20:32] mmann1123 commented on #57
Ok great. Can we close this?

[2020-11-02 20:32] mmann1123 opened #60 "mpool issue"
Just wondering if you have any thoughts about this error with mpool. I tried making the chunks smaller, to no avail. After the stackerizer each chunk end up being (2152143, 42), which really isn't very large. Any tricks?

Also, would you prefer me ask these types of questions on git issue?

pt = ParallelTask(ds,
                        scheduler='mpool',
                        n_workers=2)

[2020-11-02 20:33] mmann1123 commented on #60
from @jgrss

I don't think the issue is with the individual workers, because as you say, the arrays are not that big. From what I read, the problem is with multiprocessing and it's memory management of queue workers. It seems that it might be more of an issue with Python <3.7. Which version are you running?

Possible short term solutions:

Pass keyword arguments to the pool executor so that you ca

[2020-11-02 22:19] jgrss commented on #60
@mmann1123 Can you show an example of what your input `ds` looks like so I can try and replicate it?

[2020-11-03 00:39] jgrss commented on #60
How about something like this?

[code]

[code]

[code]

[2020-11-03 18:38] mmann1123 commented on #60
Thanks I will play with that, at the moment I am using parquet files b/c it allows multi-index which is helpful. Here's what I have.

[code]
I have been having some success with the following although with "threads". Not very efficient, but working.
[code]

[2020-11-03 19:14] mmann1123 opened #61 "x y coord rounding issue with polygon_to_array"
I just ran into an issue where `polygon_to_array` isn't replicating the x y coords of the xarray data example.  Here's how I am resolving it, but maybe worth thinking about a better solution.

[code]

[2020-11-03 20:10] jgrss commented on #61
I'll look into this. Is the difference less than the cell size?

Does it work if you do set the cell resolution like:

[code]

Also, I think it would be good to allow the use of the configuration manager here, like:

[code]

[2020-11-03 20:12] jgrss commented on #60
@mmann1123 Where is `Stackerizer` imported from?

[2020-11-03 20:20] jgrss commented on #60
Nevermind, `from xr_fresh.transformers import Stackerizer` right?

[2020-11-03 22:29] jgrss commented on #60
The following worked on a small array of random numbers. If it works on your large dataset, it might be good to add a more generic version of chunked writing with an optional user function for transforming data.

[code]

[code]

[code]

[2020-11-10 16:20] mmann1123 commented on #61
Sorry its taken me a while to get to this, looks like maybe you made some changes, my original code isn't working any more:
`labels = gw.polygon_to_array(labels, col=col, data=data,band_name= [variable_name],  fill=0)`
is throwing: `'The reference resolution must be a tuple, int, or float.'`

in `polygon_to_array` it looks like by default my `ref_kwargs` are `{'bounds': (32.99736617392033, 9.20997

[2020-11-10 16:31] #57 closed

[2020-11-10 18:27] mmann1123 commented on #61
The following doesn't resolve it either:
`labels = gw.polygon_to_array(labels, col=col, data=data, band_name=[variable_name], fill=0, src_res=data)`

not clear in my case that i can meaningfully use `with gw.config.update(bounds=bounds):`. Because I am using `poly_to_array` to add data to an opened gw object.

That being said this may or may not be something you already have in gw, or might want t

[2020-11-10 18:41] mmann1123 commented on #60
Sorry how are you applying `user_func` here to create `da`?

[2020-11-10 18:54] mmann1123 commented on #61
Sorry just seeing your comments in geowombat dev, I will try to check that.

[2020-11-10 22:14] jgrss commented on #60
When `da.store` is called with a `dask.array` passed as the first argument, `WriteDaskArray` sends each chunk to a worker. In `__setitem__`, `item` is a numpy array. The numpy array is passed to the user function in `item = user_func(item)`, where it is converted to a `xarray.DataArray` and transformed.

[2020-11-22 03:08] jgrss commented on #61
@mmann1123

I added your suggestion of just setting the x/y coordinates from the `DataArray` source, if it is provided. You can test it in the [`extract_dist` branch](https://github.com/jgrss/geowombat/tree/extract_dist).

[2020-11-23 16:56] mmann1123 commented on #61
Ok great. Yeah I saw the problem again with another dataset. I think this
will make things easier.

On Sat, Nov 21, 2020 at 10:08 PM Jordan <notifications@github.com> wrote:

[2020-11-24 16:05] mmann1123 commented on #61
Hey I am having the same issue with polygon_to_array still. Seems like there are certain instances where ref_kwargs is not updated and therefore is still None.

[code]

This seems to be easily fixed with:
`if 'res' in ref_kwargs and ref_kwargs['res'] is not None:`

here (line 658 on master):
[code]

[2021-01-26 19:12] mmann1123 commented on #60
Ok this is very interesting your WriteDaskArray is many orders of magnitude faster than the parallel task approach (1 sec per chunk vs 7 minutes.  I just figured out how to retain the coords and band names (I think, would appreciate you looking it over to make sure you don't see any stupid mistakes).

[code]

I also pass the xr array to WriteDaskArray which seems a bit sloppy, is there a better wa

[2021-01-26 20:21] mmann1123 commented on #60
For the chunk id since I have it chunk by row, i guess I could just use the row number from y

[2021-01-28 00:18] jgrss commented on #60
Hi @mmann1123 the code looks pretty good. The speedup isn't too surprising since it is using Dask to manage the task scheduling. The reason I have the other parallel option in geowombat is to provide an interface for large images. As long as the task overhead is manageable, Dask should be faster.

Perhaps you could setup a simple dictionary for the chunk id. Something like:

[code]

And then index

[2021-01-28 00:19] jgrss commented on #60
I don't think so, other than passing the attributes you need individually. I would probably also pass the `Xarray.DataArray.gw`.

[2021-01-28 16:38] mmann1123 commented on #60
Ok thanks! Trying to get it working now.

On Wed, Jan 27, 2021 at 7:20 PM Jordan <notifications@github.com> wrote:

[2021-01-30 21:07] jgrss commented on #60
I just realized that the example above should have been:

[code]

[2021-01-30 21:10] jgrss commented on #60
@mmann1123 I also remembered the `chunk_grid` property.

[code]

[2021-03-04 21:09] jgrss commented on #61
@mmann1123 I think this was fixed, but can you let me know if you still see this issue?

[2021-03-04 21:14] jgrss commented on #60
@mmann1123 Did you use the dask solution? Can we close this issue?

[2021-03-05 14:43] mmann1123 commented on #60
resolved. Closing issue.

[2021-03-05 14:43] #60 closed

[2021-03-11 15:05] mmann1123 commented on #61
Yes let's close it, sorry for delay

[2021-03-11 15:05] #61 closed

[2021-03-31 14:44] mmann1123 opened #68 "gw broken?"
I was just working on stuff for the book and ran into an odd issue on the most recent build of gw

[code]

[code]

[2021-03-31 21:20] jgrss commented on #68
@mmann1123 I think this is a NumPy version error. The geowombat .so files were probably compiled with an older version of numpy. Try:

[code]

and then rebuild geowombat.

[2021-03-31 22:05] mmann1123 commented on #68
Gotcha. Thanks.

[2021-04-01 17:19] #68 closed

[2021-04-06 23:45] #18 closed

[2021-04-06 23:45] #43 closed

[2021-04-06 23:46] jgrss commented on #44
Hi @mmann1123

Did you solve this with `dask.store`? Thinking we can close this issue.

[2021-04-07 16:35] mmann1123 commented on #44
yes that worked nicely. thanks

[2021-04-07 16:35] #44 closed

[2021-05-05 19:05] mmann1123 opened #71 "Tassel cap issue?"
Just looking to plot a tcap band and got an unexpected error.

[code]
throws
[code]

[2021-05-06 03:03] jgrss commented on #71
Should be fixed in [master@37bd27ba](https://github.com/jgrss/geowombat/commit/37bd27baa6434e9525acfceba8c6b53325f3f1db).

[2021-05-07 19:58] mmann1123 commented on #71
Solved thanks

[2021-05-07 19:58] #71 closed

[2021-05-10 20:22] mmann1123 opened #72 "'DatasetReader' object has no attribute 'gw'"
I have run into this a few times now since the latest update. I haven't had time to look into it. Sorry with Fiona pulling at me all the time, I have about 1 hr of productive work time a day :(

You probably already have it resolved but thought I would check

[code]

[code]

[2021-05-11 23:57] jgrss commented on #72
Added a fix in [5d79796](https://github.com/jgrss/geowombat/commit/5d79796b9f219b3031509f9e102a781e20241581).

[2021-07-03 01:55] jgrss opened #74 "Test GPU apply"
@rdenham if you have some spare time, test the new `series` class from the [jax branch](https://github.com/jgrss/geowombat/tree/jax). I removed xarray and dask dependencies, so opening large images should be faster. Additionally, computation is on the GPU.

To test it:

Install `geowombat` from the `jax` branch.

Install `jax` with GPU support (command below is for CUDA 11.1)

[code]

Simple examp

[2021-07-03 01:59] jgrss commented on #74
See the series class [here](https://github.com/jgrss/geowombat/blob/jax/geowombat/core/api.py) for more details.

[2021-07-03 07:05] jgrss commented on #74
Custom classes must have the following structure:

[code]

Override the output data type, band count, and compression

[code]

Using the band dictionary

[code]

[2021-07-04 05:59] jgrss commented on #74
I created a page for time series on GPUs [here](https://github.com/jgrss/geowombat/blob/jax/doc/source/gpu.rst).

[2021-07-09 13:30] mmann1123 commented on #74
Very excited to try this out!

On Sun, Jul 4, 2021 at 1:59 AM Jordan ***@***.***> wrote:

[2021-07-16 15:24] #72 closed

[2021-07-27 14:19] mmann1123 opened #75 "extract error"
Hey Jordan, I am trying to extract values to a large set of polygons. Just not sure how to interpret. Any ideas? I am using the lastest git version.

[code]

[2021-07-27 17:03] mmann1123 commented on #75
Tracked down the row that was giving me trouble:

[code]

[2021-07-27 17:32] mmann1123 commented on #75
In `sample_feature1 seems like `rasterize` is returning an empty array...
[code]
[code]
That creates an empty geodataframe
[code]
[code]
So then transferring column data back throws an error:
[code]
One possible solution
[code]
Although not sure if you prefer a try except...

[code]

[2021-08-25 02:31] rdenham opened #77 "[BUG] retry package not listed as a requirement"
Seems like the 'retry' package is now needed for gw 1.7.3, but it isn't listed in requirements.txt.

[code]

[2021-09-22 02:57] mmann1123 commented on #75
@jgrss I am running into issues with gw.extract again. I think its related to the issue above. Just wondering if we have any thoughts on a solution

[2021-10-01 19:46] mmann1123 opened #80 "Odd cubing behavoir with extract"
I am again seeing some oddities with extract. Wondering if you have any ideas for problem solving it, just not sure where to start.  I have a large vector dataset of 70k administrative units in Ethiopia, trying to get monthly precip means for each unit. Precip is from CHIRPs and is 0.05 dd res.

Example image, resampled to 0.01dd.
![resample](https://user-images.githubusercontent.com/5185364/13567

[2021-10-04 13:15] jgrss commented on #77
Thanks -- added in [93847d8f4369037273dcf1ddce1853e20d99bc1b](https://github.com/jgrss/geowombat/commit/93847d8f4369037273dcf1ddce1853e20d99bc1b)

[2021-10-04 13:15] #77 closed

[2021-10-04 13:16] jgrss commented on #80
@mmann1123 can you send me small versions of this data to test?

[2021-10-05 00:59] mmann1123 commented on #80
I just shared the dropbox folders with you. Keep in mind also that I am implementing my fix to issue #75, which I am 95% sure is unrelated to this issue.

[2021-10-08 20:18] jgrss commented on #80
Hey, I don't have an active Dropbox account. Is there another way you can send the data? Are they small enough to email?

[2021-10-19 13:36] jgrss commented on #80
Hi @mmann1123 if your vector data are polygons `geowombat.extract` will do:
[code]
I tried to clip the shapefile that you sent by approximating the image bounds in your graphic above. When I did that I received a `geopandas` error. Are you able to clip the shapefile to a smaller bounding box by `gpd.overlay` or by:
[code]

[2021-11-12 20:43] mmann1123 commented on #75
Yes this solves the issue for me.

[2021-11-19 21:02] mmann1123 opened #82 "ML.fit"
@jgrss  For the machine learning example in the tutorial I was getting the following:
[code]

[2021-11-19 21:30] mmann1123 commented on #82
@jgrss I think this can be merged and closed. Seems to resolve the issue

[2022-01-31 14:56] #82 closed

[2022-02-04 00:30] rdenham opened #84 "Nodata value set to 0 if using ref_bounds"
When you open an image using `gw.config.update(refbounds=bound)`, any nodata values in the source data are converted to 0's.

Here is a reproducible example:

[code]

Now, if you access this using gw:

[code]

you get the expected output, since these are all nodata values in the src

[code]

 But if you use a bounds argument:

[code]

You get all 0's:

[code]

As a comparison, `rasterio` behaves a

[2022-02-11 03:02] rdenham commented on #84
I think this is because nodata doesn't get passed to `warp_open` in `api.py`, about line 491.

I'll prepare a pull request.

[2022-02-11 04:09] rdenham commented on #84
Actually I don't think I can do a pull request without forking first. Perhaps someone could do this for me.

I think the difference is simply:

[code]

[2022-02-11 23:49] jgrss commented on #84
Thanks @rdenham, I'll take a look at this issue.

[2022-02-12 00:24] jgrss commented on #84
@rdenham See [this PR](https://github.com/jgrss/geowombat/pull/85).

Part of the issue was, as you pointed out, 'nodata' was not being passed to the warper. The other issue was that 'nodata' was not being retrieved from the global config.

This example:
[code]
works because it passes the file name to Xarray and it pulls the nodata value directly.

For this:
[code]
to work, you will have to pass th

[2022-02-12 01:31] rdenham commented on #84
Thanks @jgrss

I think I misunderstood the meaning of nodata in `gw.open` (and `gw.config.update`). I realise now that it should be interpreted as a replacement value; a value which will replace all nodata values in your dataset; something like

[code]

If that is the correct interpretation, shouldn't the following

[code]

print out an array of 0's instead of 255's?

[2022-02-12 01:38] jgrss commented on #84
You're right regarding the change in description.  I will also update it to explain that it only works when warping an image. When you open an image with no modifications then the no data value is taken from the file and not modified.

[2022-02-12 03:15] rdenham commented on #84
Just to complicate this, I think nodata will only take effect if you also pass in a `ref_bounds` object, since without this you won't be using warping.

I think I agree, use it only in confirm, and add documentation that if you aren't warping by eg passing bounds, then it will be ignored.

[2022-02-28 19:28] mmann1123 opened #86 "n_chunks?"
This might be my lack of understanding, but `n_chunks` seems to create problems when writing with `n_worker` and `n_threads` set.

[code]
[code]
![image](https://user-images.githubusercontent.com/5185364/156045961-5ba71df8-c24e-4d07-84ad-6626e319d8d5.png)

[2022-03-02 18:53] mmann1123 commented on #84
Since it seems related, I am not sure why the bounds aren't getting applied to ndvi. Do I need to do something to trigger gdal_warp?

[code]

[2022-03-03 16:38] #75 closed

[2022-03-03 18:03] mmann1123 opened #88 "Dtypes in ML"
Resolved in PR #87

**Code**
Current in `conversion.py`
[code]

**Problem**
- ml.fit_predict attempted to recast model predictions to unit16.
- this throws type error in rasterizer when prediction can't be recast

**Solution**
- If 'col' is included, use rasterio.dtypes.get_minimum_dtype to update dtype.
- The proposed solution is tesed and works for continuous and int dtypes

[code]

[2022-05-02 19:41] mmann1123 commented on #88
Resolved

[2022-05-02 19:41] #88 closed

[2022-05-03 05:14] mmann1123 opened #90 "Cython & _moving Issue?"
I am trying to build out a docker container to do development in (keep breaking my env by accident).

Here is the compose file:

[code]

In the development environment I have always gotten the following error. I had been just commenting out the import, but that is stupid.

Any idea what is going on? I think this is an cython issue, but not sure how to resolve it.

[code]

[2022-05-03 15:36] mmann1123 commented on #90
Resolved. Clearly had to run setup still. was thrown off by instructions

[code]

[2022-05-03 19:15] mmann1123 commented on #90
Ok I guess I don't understand why but when you import geowombat from the outer most directory, it doesn't throw any errors with `_moving`.  I am assuming it has to do with the location of the cythonized files, but not sure.

[2022-05-03 19:15] #90 closed

[2022-05-17 04:06] jgrss commented on #86
The problem is not with `n_chunks` but likely with `n_workers`. What OS are you running this on?

If you do:
[code]
does it fix the block issue?

[2022-05-17 17:09] mmann1123 commented on #86
Yes that resolves it.

[2022-05-26 01:53] mmann1123 opened #123 "Pip & Conda and release assets"
I think the major hurdle for most people (nubes like me at least) have with geowombat is the complexity of the install (outside linux).  Someone already got a semi-working [conda feedstock for v 1.2](https://github.com/conda-forge/geowombat-feedstock/blob/main/recipe/meta.yaml) up. But it points to .tar.gz release assets like this example from rasterio [https://github.com/rasterio/rasterio/release

[2022-05-26 02:03] jgrss commented on #123
Completely agree with getting packaged releases. I am close to automating this with CircleCI (see [this step](https://github.com/jgrss/geowombat/blob/b81a9b410405a3b1bcdb02d09650c1f111f85822/.circleci/config.yml#L101)).

[2022-05-26 05:25] jgrss commented on #123
The GitHub auto-release is now working: https://app.circleci.com/pipelines/github/jgrss/geowombat/146/workflows/56cd2cb0-d3f4-41fa-99f0-356ee91cded8/jobs/199.

[2022-05-26 13:24] mmann1123 commented on #123
Looks like [conda smitty](https://conda-forge.org/docs/user/ci-skeleton.html) can help with CI.  I'll start with the basics on the existing feedstock but maybe we move to this.

[2022-06-10 02:35] mmann1123 commented on #123
Ok I have tried a bunch of things mostly to no avail. The following builds locally (need to switch type back to .yaml) for linux. But I haven't been able to[ get it to build on osx or windows](https://conda-forge.org/docs/maintainer/adding_pkgs.html#running-tests-locally-for-staged-recipes).

[meta working_on_linux.txt](https://github.com/jgrss/geowombat/files/8875255/meta.working_on_linux.txt)
@j

[2022-06-10 02:36] mmann1123 commented on #123
I also ran into this on building a pypi package with circle ci
[https://www.guyrking.com/2019/12/28/create-a-pypi-package-using-circleci-and-github.html](https://www.guyrking.com/2019/12/28/create-a-pypi-package-using-circleci-and-github.html)

[2022-06-10 22:38] jgrss commented on #123
Here's an update on getting an official Dockerfile for the project. See [this branch](https://github.com/jgrss/geowombat/blob/jgrss/docker/dockerfiles/README.md). Let me know if you can successfully create the Docker image.

[2022-06-14 01:53] mmann1123 commented on #123
@jgrss I noticed the conda feedstock PR that are getting generated. I don't really understand how its getting generated, maybe on circleci side, but all the pipelines are failing with:

ModuleNotFoundError: No module named 'retry'

Looks like a simple fix.

[2022-06-14 02:56] jgrss opened #156 "Semantic-release not working on CI"
FYI @mmann1123, Dependabot broke the automatic release again. I'll try to work it out. In the meantime, if you have a PR that needs to bump any of major.minor.patch, it won't happen automatically.

[2022-06-14 13:57] jgrss commented on #156
There's an attempted fix if you pull from `main`.

[2022-06-16 01:17] #156 closed

[2022-06-18 00:34] jgrss commented on #123
Hey @mmann1123 what action do I need to take here? I am unfamiliar with conda feedstocks.

[2022-06-18 12:38] mmann1123 commented on #123
Is circleci generating the scripts and pull requests? If so that's amazing

I will look into how to trigger the merge

@jgrss

[2022-06-18 21:45] #86 closed

[2022-06-20 01:44] mmann1123 commented on #123
@jgrss Ok looks like its not the easy win I was hoping for.  So I am assuming circle CI has been generating these changes but all three OS builds are failing because retry is missing.
`ModuleNotFoundError: No module named 'retry'`

Because I don't want to 'f with anything on the circle ci side, I will leave it to you to add retry. But for now I will pull the conda-forge fork add retry and push it

[2022-06-21 22:07] mmann1123 commented on #123
Ok I pulled some ideas from rasterio's feedstock and made some progress! Seems like its building properly on all OS except linux python 3.7

Can you @jgrss take a look at this and see if you have any ideas?

https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=524817&view=logs&j=d0d954b5-f111-5dc4-4d76-03b6c9d0cf7e

[2022-06-22 16:10] mmann1123 commented on #123
Got it! I think they will merge after review.
[see PR](https://github.com/conda-forge/geowombat-feedstock/pull/16/files)

[2022-06-22 23:03] jgrss commented on #123
Looks good to me--nice work. So will this get triggered on every PR merge?

[2022-06-24 21:00] mmann1123 commented on #123
**Yes please**

![Screenshot from 2022-06-24 16-59-20](https://user-images.githubusercontent.com/5185364/175666691-daae340e-ff6b-46df-b2ea-0901a672674b.png)

[2022-06-25 18:17] jgrss opened #164 "STAC API"
@mmann1123 What do you think about adding an open method using STAC tools? Something that simplifies search and read.

I started experimenting [here](https://github.com/jgrss/geowombat/blob/7962952fbde11bb823f58fc1999db05ca7befe7b/src/geowombat/core/api.py#L1150).

I am thinking something like that, which just uses `pystac_client` and `stackstac`.

[code]
[code]
[code]

[2022-07-08 08:19] hajjihi opened #174 "Reading Tiff : ValueError: negative dimensions are not allowed"
Hi dear
When trying to open my tiff file, I get this error: ValueError: negative dimensions are not allowed
code:
with gw.open(mytif) as src:
    print(src)

  File "/home/---/.local/lib/python3.8/site-packages/geowombat/core/api.py", line 493, in __init__
    self.data = warp_open(
  File "/home/---/.local/lib/python3.8/site-packages/geowombat/backends/xarray_.py", line 271, in warp_open
    with

[2022-07-08 13:00] mmann1123 commented on #174
Can you print the transform and CRS?

On Fri, Jul 8, 2022, 4:19 AM Hajji Hicham ***@***.***> wrote:

[2022-07-08 13:14] #123 closed

[2022-07-08 14:11] mmann1123 commented on #174
It's pretty unusual to have a negative xres, @jgrss likely didn't set it up
to handle this.

If you have a moment, could you write it back out with rasterio and change
the transform to
transform (0.015703125000000002, 0.0, -1.02, 0.0, -0.014794921875000002,
35.92)

That would help us clarify what we need to resolve.

On Fri, Jul 8, 2022 at 9:32 AM Hicham2022 ***@***.***> wrote:

[2022-07-08 17:44] jgrss commented on #174
@hicham20212022 this shouldn't be much trouble to add support for. The `geowombat` opener uses `rasterio`, so the issue is with generating the `DataArray` coordinates (which, as @mmann1123 points out, assumes the x resolution is positive). Should be an easy fix...

[2022-08-06 12:37] cefect opened #182 "Unable to install on Windows with conda"
Installing on Windows 10, I followed the [Easiest Install](https://geowombat.readthedocs.io/en/latest/install.html#easiest-install) instructions using conda. This led to repeated 'Solving environment: failed...'.

Then I tried the [Detailed Install](https://geowombat.readthedocs.io/en/latest/install.html#detailed-install) further down on the same page, which is slightly different and seems redunda

[2022-08-06 13:15] mmann1123 commented on #182
Ok good to know. For the Fiona error, try installing the binaries from gohylk
https://www.lfd.uci.edu/~gohlke/pythonlibs/
Please let us know if that resolved it.

[2022-08-09 00:39] imagesbyjohnyoung commented on #182
(py38_BIP) C:\Data\EHG_PROJECTS\ehg-bip-wp9\zTestCode>pip install git+https://github.com/jgrss/geowombat
Collecting git+https://github.com/jgrss/geowombat
  Cloning https://github.com/jgrss/geowombat to c:\data\gis\temp\pip-req-build-ai5dlshw
  Running command git clone --filter=blob:none --quiet https://github.com/jgrss/geowombat 'C:\Data\GIS\Temp\pip-req-build-ai5dlshw'
  Resolved https://github

[2022-08-12 14:14] mmann1123 commented on #182
If you don't already have Microsoft Visual C++ installed do so from the following link. Make sure you match the correct version for the Python you have installed. https://wiki.python.org/moin/WindowsCompilers#Microsoft_Visual_C.2B-.2B-_14.0_standalone:_Build_Tools_for_Visual_Studio_2017_.28x86.2C_x64.2C_ARM.2C_ARM64.29

[2022-08-16 13:55] mattijn opened #183 "Usage of xarray ufuncs is deprecated"
Xarray has removed support for the deprecated `xarray.ufuncs` functions since version `v2022.06.rc0`: https://docs.xarray.dev/en/stable/whats-new.html#breaking-changes.

Now I receive the following error:
[code]
Searching the repo: https://github.com/jgrss/geowombat/search?q=xarray.ufuncs&type=code
Reveals at least one file needs updating: https://github.com/jgrss/geowombat/blob/342bb2b518350ac161

[2022-08-18 15:39] willieseun opened #184 "Writing DataArrays to files keep throwing TypeError"
Hello, I tried writing data arrays using the to_raster function. But, I am getting an error 'TypeError: tqdm.std.tqdm() argument after ** must be a mapping, not NoneType'. I don't know what I am doing wrong so I appreciate if you can look into it.

[2022-08-18 17:13] mmann1123 commented on #184
We would need to see a full example including link to data and the code to:

[2022-08-19 07:44] willieseun commented on #184
`import geowombat as gw
from geowombat.data import l8_224078_20200518, l8_224078_20200518_polygons
from geowombat.ml import fit, predict, fit_predict
import geopandas as gpd
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.decomposition import PCA
from sklearn.naive_bayes import GaussianNB
from sklearn.cluster import KMeans
import ma

[2022-08-19 13:47] mmann1123 commented on #184
Ok yeah its a bit quirky at the moment, but you need to select the time period (its set up for multiperiod prediction at the moment). The following example should help. I will update the docs.

[code]

[2022-08-19 14:08] mmann1123 commented on #174
@hicham20212022 Can you see if the following branch resolves your issue? jgrss/xres_issue174

I suspect that not only is the xres negative but your data is mirrored on the yaxis which I am not sure we are handling.

Please let us know either way.

[2022-08-19 17:16] willieseun commented on #184
It is still not working

[2022-08-19 17:19] mmann1123 commented on #184
So the example I just sent you isn't working? or with your data?

[2022-08-19 18:04] willieseun commented on #184
Both keep giving that error when writing out.

[2022-08-22 13:55] willieseun commented on #184
I think I was able to resolve it by doing this instead.

y.sel(time='t1').rio.to_raster('Unsup1.tif')

Thanks for your time!

[2022-08-22 14:07] mmann1123 commented on #184
Ok good to hear. We are testing .save() soon. Hopefully it will resolve this.

[2022-08-22 14:29] willieseun commented on #184
Yep. I hope so too

[2022-08-23 06:57] 37310N commented on #183
Is it possible to downgrade `geowombat` and/or `xarray` to solve this issue?

[2022-08-23 08:09] mattijn commented on #183
Yes, you can use current version of geowombat with:
[code]

[2022-08-23 09:07] 37310N commented on #183
The following workaround solved the problem for me, but maybe this is not a really good solution.

In the given file I commented the lines 26 & 27 out (see above) and changed the xarray min/max function to `numpy.minimum()` and `numpy.maximum()` as follows:

`                if overlap == 'min':
                    ds = np.minimum(ds, dsb)
                elif overlap == 'max':

[2022-08-24 10:42] pjhav commented on #184
Hi,
I am getting the same error when trying to save a raster stack:

=====
from geowombat.data import l8_224077_20200518_B2, l8_224077_20200518_B3
with gw.open([l8_224077_20200518_B2, l8_224077_20200518_B3]) as src:

    # Xarray drops attributes
    attrs = src.attrs.copy()

    # Apply operations on the DataArray
    src = src * 10.0

    src.attrs = attrs

    # Write the data to a GeoTiff

[2022-08-24 13:09] pjhav opened #185 "'open' object has no attribute 'crs'"
Hi, I'm very excited about the prospects of geowombat making raster processing much easier! Thanks for doing this!

I'm still pretty new to Python, so maybe I am missing something with stacks. I'm trying to clip a raster stack but I get the 'open' object has no attribute 'crs' error. I tried using 'with' method as well as the code below and both return the same issue.

from geowombat.data import l

[2022-08-24 13:22] mmann1123 commented on #185
did you
`import geowombat as gw`
first?

[2022-08-24 13:29] pjhav commented on #185
Yes, sorry, should have included that as well.

[2022-08-24 13:44] mmann1123 commented on #183
@jgrss  just opened a pull request to resolve this.

[2022-08-24 13:53] mmann1123 commented on #185
[code]
The following is working for me. Please try

[2022-08-24 13:57] #182 closed

[2022-08-24 13:57] #80 closed

[2022-08-24 14:03] pjhav commented on #185
Thanks for trying. Unfortunately I get an error.

Here is the output:
<xarray.DataArray (band: 2, y: 1515, x: 2006)>
dask.array<concatenate, shape=(2, 1515, 2006), dtype=uint16, chunksize=(1, 256, 256), chunktype=numpy.ndarray>
Coordinates:
  * band     (band) <U2 'B2' 'B3'
  * y        (y) float64 -2.767e+06 -2.767e+06 ... -2.812e+06 -2.812e+06
  * x        (x) float64 6.94e+05 6.940e+05 6.941e+0

[2022-08-24 15:17] mmann1123 commented on #185
Hmmm... Starting to think this might be an install issue. Can you try installing from git using:

```pip install git+https://github.com/jgrss/geowombat```

[2022-08-24 15:59] pjhav commented on #185
I had previously done the conda install, but I tried what you sent as well, here is the output:

Collecting git+https://github.com/jgrss/geowombat
  Cloning https://github.com/jgrss/geowombat to c:\users\paul.haverkamp\appdata\local\temp\pip-req-build-euc86c1z
  Resolved https://github.com/jgrss/geowombat to commit 6ca6ef42db1c28e40884c070baf511d63c3924fe
  Installing build dependencies: started

[2022-08-24 17:03] willieseun commented on #184
Hello, you can use
`src.sel(time='t1').rio.to_raster('Unsup1.tif')` after importing rioxarray as suggested above.

[2022-08-24 17:32] pjhav commented on #184
Hi, thanks for responding.

I forgot to mention, I tried this, but there is no t1 data or time series, as they are just different bands of the same multispectral image. So I get a key error about t1. I tried to sel the bands I wanted to, but that also did not work.

When I try
`import geowombat as gw`
`from geowombat.data import l8_224077_20200518_B2, l8_224077_20200518_B3`
`with gw.open([l8_22407

[2022-08-24 18:56] willieseun commented on #184
Try this `with gw.open([l8_224077_20200518_B2, l8_224077_20200518_B3], stack_dim='band') as src:`

[2022-08-24 20:11] pjhav commented on #184
[code]
[code]

Output:
22:04:37:INFO:806:io.to_raster:  Creating the file ...

22:04:37:INFO:813:io.to_raster:  Writing data to file ...

22:04:37:INFO:837:io.to_raster:  Windows 1--48 of 48 ...
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Input In [75], in <cell line: 3>()
     11 src.attrs

[2022-08-24 20:11] mmann1123 commented on #185
Sorry one more thing. Can you create a new conda environment and do a fresh
install there?  I haven't seen this before and I can't replicate it.

On Wed, Aug 24, 2022 at 11:59 AM pjhav ***@***.***> wrote:

[2022-08-24 20:12] mmann1123 commented on #184
@jgrss Just wondering if we can push your `save` function out early. Looks like there are lots of people ready to test it.

[2022-08-24 20:29] willieseun commented on #184
Just do this and It will work.
`with gw.open([l8_224077_20200518_B2, l8_224077_20200518_B3], stack_dim='band',band_names=["B2", "B3"]) as src:
    print(src)
    # Xarray drops attributes
    attrs = src.attrs.copy()

    # Apply operations on the DataArray
    src = src * 10.0

    src.attrs = attrs

    # Write the data
    src.sel(time='t1').rio.to_raster('output.tif')`
Don't forget to
import r

[2022-08-25 01:17] jgrss commented on #184
I am out until next week and then can take a look at this thread in more detail.

@mmann1123 The `jgrss/store` branch is heading toward v2.0.0 and could resolve I/O issues with the addition of `save()`. It also has the needed changes to address Xarray ufuncs. Other incompatible backward changes include making all methods that currently return numpy arrays return delayed objects instead.

[2022-08-25 07:13] pjhav commented on #185
I did a clean install into a new environment and still have the same issue.

[2022-08-25 07:45] pjhav commented on #184
Using the following code worked, thanks @willieseun

[code]
[code]

[2022-08-25 07:51] willieseun commented on #184
You're welcome

[2022-08-25 09:42] pjhav commented on #185
I'm using rioxarry to clip for now. Thanks for investigating!

[2022-08-25 13:36] mmann1123 commented on #185
Ok sorry, glad you found a work around. Still cant reproduce on my end. Just so I can come back to this, are you working on mac/windows?

[2022-08-25 14:10] pjhav commented on #185
Thanks for looking into it! I'm on Windows. Let me know if you want any more information.

[2022-08-30 13:09] jgrss commented on #183
@mmann1123 What is the status of PR #186? Was it closed because we had discussed using the fixes in [jgrss/store](https://github.com/jgrss/geowombat/tree/jgrss/store)?

[2022-08-30 13:14] jgrss commented on #42
These `ufunc` issues should be addressed in [jgrss/store](https://github.com/jgrss/geowombat/tree/jgrss/store).

[2022-08-30 13:18] jgrss commented on #183
Thanks for comfirming this, @mattijn -- [a branch in the waiting](https://github.com/jgrss/geowombat/tree/jgrss/store) that should push geowombat to `v2.0.0` has `xarray>=2022.6.0`.

[2022-08-30 15:25] mmann1123 commented on #183
@jgrss I intended PR #186 to resolve the ufunc issues but then some tests were failing in ML and another elsewhere, I was worried I had inadvertently pushed some old ML code, so closed it. But I think we need to push the jgrss/store. I will try to test it today, but its first day of classes so things are busy. Might be a few days.  But I figure jgrss/store can't make things worse - since people ca

[2022-08-30 21:48] jgrss commented on #184
@mmann1123 @pjhav @willieseun I reopened this because the above solution was a temporary fix using another library. See PR #187 for fixes. With the changes in #187, both of the following snippets work for me.

[code]

@mmann1123 in the above snippet, the output of `fit_predict()` is shaped (y, x, time), which is why a `sel()` is needed. Probably worth a PR to ensure the output data are transposed

[2022-08-31 12:56] willieseun commented on #184
Still not working.

[2022-08-31 13:22] jgrss commented on #184
@willieseun Did you install the `jgrss/to_raster` branch and it still didn't work for you?

[2022-08-31 13:24] jgrss commented on #184
Just want to be clear that PR #187 has the fix but it has not yet been merged. It needs approval by @mmann1123.

[2022-08-31 13:24] willieseun commented on #184
Ok. I am using pip with git.

[2022-08-31 13:25] willieseun commented on #184
I just installed the library all over again. I guess it didn't work since it hasn't been merged.

[2022-08-31 13:28] jgrss commented on #184
Thanks for clarifying. If you want to test the fixes before they are merged into `main`.

[code]

Otherwise, I will ping you as soon as it is merged and there is a new release.

[2022-08-31 13:55] jgrss commented on #184
`v1.11.4` has the fix

[2022-08-31 13:55] #184 closed

[2022-08-31 14:57] willieseun commented on #184
Alright

[2022-08-31 15:05] jgrss commented on #185
@pjhav I wonder if the issue is how you are opening the data.

Can you confirm that you are opening the data like:

[code]

and not like the following:

[code]

The second method is the correct way to open an image, so if you are still getting the error using that approach I can investigate further.

[2022-08-31 17:29] willieseun commented on #184
I can confirm it works now. Thanks for your help.

[2022-08-31 17:30] mmann1123 opened #188 "geowombat v1.11.4 breaks conda"
Just got this report back from the [conda feedstock](https://github.com/conda-forge/geowombat-feedstock/pull/39) or for details [go here](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=561125&view=logs&j=d0d954b5-f111-5dc4-4d76-03b6c9d0cf7e&t=841356e0-85bb-57d8-dbbc-852e683d1642&l=907)

Assuming pinning the xarray version pulls the older rasterio - breaking things downst

[2022-08-31 21:40] jgrss commented on #188
Hmm, `geowombat==1.11.4` pulls a [higher version of rasterio](https://github.com/jgrss/geowombat/blob/a6c7f31780ef38218344dec3c2cfe41ac1a8a6f4/setup.cfg#L37) than `v1.0.23`. I just did a fresh installation from `main` and it installed `rasterio==1.3.2`. Is `conda` free to build any version of `rasterio` in the build? I don't see a version requirement for it.

[2022-09-01 13:15] mmann1123 commented on #188
Yeah I don't pin any versions in the [feedstock](https://github.com/conda-forge/geowombat-feedstock/blob/main/recipe/meta.yaml) and it should be able to pull whatever solves all requirements.  So not sure... Instead of pinning xarray could we just implement the np.max min as suggested in  #186?  (although that seemed to open other issues possibly)

[2022-09-01 22:27] jgrss commented on #183
Should be addressed with #189.

[2022-09-01 22:27] #183 closed

[2022-09-01 22:27] jgrss commented on #185
Should be addressed with https://github.com/jgrss/geowombat/pull/189.

[2022-09-01 22:27] #185 closed

[2022-09-01 22:27] jgrss commented on #188
Can you see if this is still an issue after #189?

[2022-09-01 22:39] jgrss opened #190 "ML DataArray"
@mmann1123 the ML tests are failing for the same reason the [docs are failing](https://readthedocs.org/projects/geowombat/builds/17963684/).

[2022-09-02 12:49] mmann1123 commented on #188
Ok looks like it builds 2.0 fine on everything but python 3.7. regardless of OS. Should we pin python >=3.8

Looks like opencv is the issue.
-   - nothing provides libopencv 4.2.0 py36_5 needed

[2022-09-02 12:52] mmann1123 commented on #190
Ok I will work on this now. Sorry about the delay.

[2022-09-05 09:07] willieseun opened #193 "Predicted .tif file assigns a class to zero"
I tried plotting the resulting .tif file in ArcMap and first, the predicted classes were not up to the number of classes in my training data. Second, I wasn't able to build unique values for the raster and the black bands around the raster are not disappearing when I set to display nodata value with no colour.

[2022-09-07 15:47] mmann1123 commented on #190
@jgrss  Ok after a lot of fumbling I figured it out I think. Should be resolved in #194

[2022-09-08 13:18] mmann1123 commented on #190
@jgrss  I put together a dockerfile to show you what I mean about local testing passing.  #196
[code]

[2022-09-09 13:36] mmann1123 commented on #190
@jgrss any idea why this is failing  but not the docker build?

[2022-09-09 13:48] jgrss commented on #190
I haven't yet figured this one out. And it's not just Docker. The tests from your branch pass in a local venv but fail when I push to CI.

[2022-09-09 16:10] mmann1123 commented on #190
Ok well, it makes me feel better that it isn't just me.

[2022-09-09 16:13] mmann1123 commented on #190
Maybe sklearn_xarray doesn't pin a version for xarray that is needs? Not sure what else might be going wrong

[2022-09-09 18:37] jgrss commented on #190
`sklearn-xarray` pins `xarray=0.15.1` [here](https://github.com/phausamann/sklearn-xarray/blob/0a8e61222a89e02665f444233e2bb2eb2bef7184/requirements.txt#L2), whereas we pin `xarray=2022.6.0` [here](https://github.com/jgrss/geowombat/blob/0a11e696cc7ccdc25d77cfe7fb9ed5e44d7969a8/setup.cfg#L44). However, `geowombat` should upgrade Xarray with:

[code]
coming after
[code]
If I do a clean install and

[2022-09-09 18:39] jgrss commented on #190
You can also reduce
[code]
to
[code]
and do
[code]

[2022-09-12 00:38] mmann1123 commented on #190
Figured it might be worth looking at everything from the docker build - looks like `xarray=2022.6.0`

[code]

[2022-09-12 23:27] jgrss commented on #190
Are we sure that `sklearn-xarray` requiring `xarray==0.15.1` isn't causing a problem?

[2022-09-13 13:20] mmann1123 commented on #190
I think that has something to do with it, but based on it working locally and on docker, I am assuming it has to do with the way CI is building the image for testing.

[2022-09-13 19:38] jgrss commented on #190
See #198

[2022-09-14 02:59] #190 closed

[2022-09-14 03:59] jgrss commented on #193
@mmann1123 I didn't intentionally close this. Do we need to reopen?

[2022-09-14 08:35] willieseun commented on #193
Please reopen. It even brings additional errors now.

[2022-09-14 10:01] mmann1123 commented on #188
@jgrss I think finally step is to pin python 3.8 or greater

[2022-09-14 14:15] jgrss commented on #188
See #200

[2022-09-14 14:22] jgrss commented on #193
@willieseun can you paste a code snippet to show us how you created your predictions?

[2022-09-14 14:40] mmann1123 commented on #193
I think in the latest ml updates I resolved the issue of dropping one of
the prediction classes.

Missing values I'm not sure.

On Wed, Sep 14, 2022, 10:22 AM Jordan Graesser ***@***.***>
wrote:

[2022-09-14 15:00] willieseun commented on #193
`import geowombat as gw
from geowombat.data import l8_224078_20200518, l8_224078_20200518_polygons
from geowombat.ml import fit, predict, fit_predict
import geopandas as gpd
from sklearn_xarray.preprocessing import Featurizer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.decompos

[2022-09-14 15:06] willieseun commented on #193
I hope you get it. It is not rendering it well enough.

[2022-09-14 16:12] willieseun commented on #193
Just to add, because I don't want to open another issue.
It seems that the gauss resampling method is not available as a parameter when resampling.

[2022-09-14 23:32] #42 closed

[2022-09-14 23:38] jgrss commented on #193
@willieseun I think I am getting close to the issue. Before we make any changes, can you check if the following creates the output that you are hoping for.

Note that I used `geowombat` data because I don't have access to the data you used.

[code]

[code]

[2022-09-15 00:13] jgrss commented on #188
#200 is merged into `main` so let me know how the `conda` build goes.

[2022-09-15 06:55] willieseun commented on #193
Ok, Let me check...

[2022-09-15 08:02] willieseun commented on #193
It is returning a type error traceback.
TypeError: not all arguments converted during string formatting
from this line
X, Xy, clf = fit(src, pl, labels, col="name")

[2022-09-15 08:12] willieseun commented on #193
The save function seems to be working well though.

[2022-09-15 13:05] jgrss commented on #193
Apologies, it should be `col='Classvalue'` not 'name'.

[2022-09-15 15:58] mmann1123 commented on #188
After much futzing I figured out that adding the `skip` line to meta.yml in the feedstock would allow us to avoid building in py3.7. Should be merging soon.

[code]

[2022-09-15 16:05] #188 closed

[2022-09-17 12:54] pjhav commented on #185
Sorry for the delay, I have been on holiday.
The clip is working now, thank you!

[2022-09-17 13:19] pjhav commented on #184
Sorry for the delay, I have been on holidays.
Everything is working now, thank you!

For future reference, I did have to
`sel(band=["B2","B3"])`
to make it work., which I don't think was in the docs.

[2022-09-19 10:12] willieseun commented on #193
It is still not working properly.

[2022-09-19 10:13] willieseun commented on #193
The resulting tif file is looking bad.

[2022-09-19 12:31] willieseun commented on #193
I think you should try using it with classes more than 10. The shapefile I am using has 12 classes. Maybe that is why.

[2022-09-19 13:15] jgrss commented on #193
@willieseun Can you elaborate on what you mean by bad? Do you mean that it is still not rendering the nodata value properly, that the classified values are not correct, or that the classification does not look accurate? On the latter, if you are using the test data then I would not expect it to look good because the data being used are just test data, which are meant to show the utility of the fun

[2022-09-19 14:16] willieseun commented on #193
![geowom](https://user-images.githubusercontent.com/74919071/191038704-8b8f1d0f-c59c-42d9-bd97-dbf5b2bda33b.png)

I have attached the predicted map

[2022-09-19 14:29] jgrss commented on #193
Can you point the issue? It looks like there are ~10 classes, so is this from your dataset? The pixels also look to be resampled, so did you keep the `gw.config.update(ref_res=500)`?

[2022-09-19 14:32] jgrss commented on #193
It does look like zeros are being displayed, so if you attempted to set them as your `nodata` value then something is still not working. However, we will have some updates to how `nodata` values are handled coming up in #204.

[2022-09-19 14:33] willieseun commented on #193
No. I changed it to 50.

[2022-09-19 14:35] jgrss commented on #193
Okay, if you've modified anything then we need to see your code snippet in order to reproduce the results that you shared.

[2022-09-19 14:42] willieseun commented on #193
What does 500 mean for clarification, 500m?

[2022-09-19 14:54] willieseun commented on #193
Ok

[2022-09-19 14:57] willieseun commented on #193
[code]
[code]

[2022-09-20 00:38] jgrss commented on #193
@willieseun below is a code snippet that masks the `nodata` values in the predictions, plots the data and hides `nodata`, and correctly saves the `nodata` values to file. Note that I still cannot reproduce your specific errors because I don't have access to your data. If you install the latest version `geowombat==2.0.6` you should be able to reproduce the code 👇 . We still need another PR to make

[2022-09-20 14:33] mmann1123 commented on #193
Yeah sorry, that's my fault. Something went sideways. I will need some patience.

[2022-09-20 14:56] willieseun commented on #193
Alright. You have all the time.

[2022-09-20 16:34] mmann1123 commented on #193
Ok this should be resolved soon.

[2022-09-21 13:29] mmann1123 commented on #193
@willieseun  This should be resolved and the new build pushed to conda-forge as well.  Please note you need to specify your missing data value (if its not in the tif profile) by setting `nodata` in `gw.open`.

[code]
Closing this issue unless I hear otherwise.

[2022-09-22 02:41] jgrss commented on #84
Closing this issue following #204

[2022-09-22 02:41] #84 closed

[2022-09-22 02:43] jgrss commented on #74
I will close this as this is now implemented. However, feel free to reopen.

[2022-09-22 02:43] #74 closed

[2022-09-25 16:00] jgrss opened #215 "Extra install examples fail; coreg extra builds unwanted GDAL version"
## Installed GDAL 3.3.2
[code]
## Installed virtualenv
[code]
## Installed Python GDAL 3.3.2
[code]
[code]
### Installing GeoWombat with no extras works fine
[code]
### Installing GeoWombat with any extra using the suggested method from the online documentation fails. E.g., the following line does not work:
[code]
### Installing GeoWombat with an extra using the following method works
[code]
### I

[2022-09-25 18:50] mmann1123 commented on #193
@willieseun Is this resolved?

[2022-09-25 20:23] mmann1123 opened #216 "config issue?"
I was just rebuilding docs for the book and noticed this. Just wondering if this needs to be handled.
[code]

[2022-09-26 10:14] willieseun commented on #193
I am unable to update to the latest release currently.

[2022-09-26 11:31] mmann1123 commented on #193
Do you have anaconda installed?

On Mon, Sep 26, 2022, 6:14 AM willieseun ***@***.***> wrote:

[2022-09-26 12:04] willieseun commented on #193
No I use pip

[2022-09-26 15:28] mmann1123 commented on #216
Maybe this is just my lack of understanding. Is `scale_factor` used to update the array only when used in functions like NDVI etc?
Is there a way to scale it directly?
[code]

[2022-09-26 20:15] jgrss commented on #216
Thanks for highlighting this. Currently, `scale_factor` is only passed to functions that use it. We don't, however, apply the 'scales' attribute upon opening. That attribute comes from rasterio/open_rasterio.

The way that `scale_factor` is currently used is legacy. Do you think we should apply the 'scales' attribute upon opening?

Say for a 3-band raster, scales of 1 would not trigger any scaling

[2022-09-26 20:29] jgrss commented on #216
See also [rasterio's approach](https://github.com/rasterio/rasterio/issues/1882#issuecomment-623697774) and [rioxarray's mask_and_scale approach](https://corteva.github.io/rioxarray/html/rioxarray.html) i.e., leave it to the user.

[2022-09-26 22:47] jgrss commented on #216
@mmann1123 experiment with branch [jgrss/scales_216](https://github.com/jgrss/geowombat/tree/jgrss/scales_216) and let me know if it does what you would expect.

[2022-09-26 22:49] jgrss commented on #216
In particular, see [new open() keywords for scaling](https://github.com/jgrss/geowombat/blob/66a9dbf7146867895f4a9b31cac1acbefa407e0e/src/geowombat/core/api.py#L410-L430) and [new tests](https://github.com/jgrss/geowombat/blob/jgrss/scales_216/tests/test_scaling.py) for examples.

[2022-09-27 18:57] mmann1123 opened #218 "ml install"
Trying to help resolve #216  but running into a likely easily fixed issue. As you suggested a while back I can do ` pip install --user -e ."[ml]"` in my dockerfile. However I am getting an error now with the your sklearn fork. Maybe there's an easy work around?

[code]
[code]

[2022-09-27 19:17] mmann1123 commented on #216
@jgrss I like the use of `scale_data` in `open` with  #jgrss/scales_216. Its passing tests on my end.

Good to see that `attrs['scales']` is 1 if scaling is applied.  But shouldn't `attrs['scales']` be updated to 0.0001 if `scale_data =False`?

[code]

[2022-09-27 22:07] jgrss commented on #218
Hmm, is your `pip` up to date? And does removing the strings help?
[code]

[2022-09-27 22:13] jgrss commented on #215
Fixed in #217

[2022-09-27 22:15] jgrss commented on #216
Ah, good call. I can add that.

[2022-09-28 15:17] mmann1123 commented on #218
Huh yep that was it, figured since i was pulling the latest ubuntu docker image I didn't need to worry about that... apparently I did.

[2022-09-28 15:17] #218 closed

[2022-09-28 22:29] jgrss commented on #216
See #221

[2022-09-28 22:29] #216 closed

[2022-09-28 23:42] mmann1123 commented on #216
Hey this didn't seem to trigger a version change which means in turn
conda-forge doesn't look for an update. Why way you can trigger the v
change retroactively?

On Wed, Sep 28, 2022, 6:29 PM Jordan Graesser ***@***.***>
wrote:

[2022-09-29 02:59] jgrss commented on #216
Do you mean a `geowombat` version changer? It was upgraded from `v2.0.11` to `v2.0.12`. Do you know what triggers `conda`? Is it a release?

[2022-09-29 13:26] mmann1123 commented on #216
Ok weird, thought I saw 2.0.12-> 2.0.12 Maybe i misread. But yeah I think
it looks for an update in version number

On Wed, Sep 28, 2022 at 10:59 PM Jordan Graesser ***@***.***>
wrote:

[2022-09-29 14:23] mmann1123 commented on #193
@willieseun I would recommend trying out miniconda and doing an install from conda-forge.  Everything should be working now sorry that took a while to resolve but I am going to close this.

[2022-09-30 15:05] mmann1123 opened #224 "Ubuntu 22.4 & conda"
I was just mucking around with docker and testing the latest ubuntu version 22.4,  and conda install.

I got the following errors on testing. Sops is installed, so not sure what's going on here.

I am wondering if it has to do more with conda install rather than the new ubuntu version

[code]

[2022-09-30 19:55] jgrss commented on #224
Those properties were added in recent versions and would have failed tests. So `conda` must not be installing the most recent build?

[2022-09-30 22:21] mmann1123 commented on #224
Yeah that's what I figured. I'll take a look. Conda-forge seems to be
having a longer lag recently.

On Fri, Sep 30, 2022, 3:56 PM Jordan Graesser ***@***.***>
wrote:

[2022-10-03 14:41] e5k opened #226 "AttributeError: type object 'threadpool_limits' has no attribute 'wrap'"
Hi - thanks for the great package. I am getting this error when importing geowombat:

```AttributeError: type object 'threadpool_limits' has no attribute 'wrap'```

I am running Conda on MacOS with python 3.9. Please let me know what other inf you need!

### Full error:

[code]

[2022-10-03 16:25] mmann1123 commented on #226
Can you run:
`conda update geowombat -c conda-forge`

then try again?

[2022-10-03 16:25] mmann1123 commented on #226
if that doesn't do the trick please send the output of:
`conda list`

[2022-10-04 13:12] jgrss commented on #226
Hi @e5k,

I think you need to upgrade `threadpoolctl` by `pip install -U threadpoolctl`.

I suspect that you had `threadpoolctl` installed prior to `geowombat` and our `setup.cfg` requirement for `threadpoolctl` has no version requirement. If the above upgrade works for you then we will pin `threadpoolctl` to a minimum version.

[2022-10-04 16:31] mmann1123 commented on #224
This is resolved...

[2022-10-04 16:31] #224 closed

[2022-10-05 22:58] jgrss commented on #226
@e5k thanks for raising this issue. See #227 for the fix and `v2.0.16` for the update. Please reopen if this did not solve it on your end.

[2022-10-05 22:58] #226 closed

[2022-10-06 07:23] e5k commented on #226
Hey @jgrss and @mmann1123 - thanks for your quick response and feedback. Sorry I was slow to answer, but looking forward to playing with you library!

[2022-10-07 08:39] willieseun commented on #193
Still not working

[2022-10-07 13:34] mmann1123 commented on #193
Can you share some data and your script? I can't replicate on this side.

[2022-10-07 14:01] jgrss commented on #193
@willieseun from the original post

Issue #1: predicted classes do not match the input training classes
Issue #2: 'No data' values are not hidden in a GIS

Can you please describe what is not working? Is it still both of the issues that you raised? For predictions, unless we can replicate the issue with our test data, we need an example of your data if you are able to share somehow.

[2022-10-09 15:46] willieseun commented on #193
Sorry for being so ambiguous. I meant I wasn't able to install with anaconda.

[2022-10-11 08:38] mmann1123 commented on #188
I just approved the python version pin. I will let you squash it

On Wed, Sep 14, 2022 at 10:15 AM Jordan Graesser ***@***.***>
wrote:

[2022-10-11 13:26] jgrss commented on #188
This is closed from ~month ago. Is this correct?

[2022-10-11 14:16] #193 closed

[2022-10-11 14:16] mmann1123 commented on #188
Yep this is resolved

On Tue, Oct 11, 2022 at 9:26 AM Jordan Graesser ***@***.***>
wrote:

[2022-10-11 14:19] mmann1123 commented on #193
I might be able to help interpret if you send the error from the install. In your terminal window try:
[code]

[2022-10-11 14:31] jgrss commented on #193
Thanks @mmann1123 and @willieseun, if this remains an issue, please open a new issue with your `conda` install blocker.

[2022-10-25 02:09] mmann1123 commented on #215
I'm getting an error on pip installing any extras. For instance
[code]

[code]

[2022-10-25 02:47] #215 closed

[2022-10-25 02:48] mmann1123 commented on #215
@jgrss sorry seems to be related to my docker build not pip install

[2022-11-16 16:20] DManowitz opened #230 "Newer versions (> 1.2.0) do not work with Intel OpenMP installed"
On conda-forge, I see that all versions of geowombat > 1.2.0 require llvm-openmp.  This causes a problem if intel-openmp is installed in an environment.  Would it be possible to make versions of geowombat (since at least 2.0.3, since I'm stuck at gdal 3.5.0) that either don't require llvm-openmp or use intel-openmp instead?

[2022-11-23 05:34] jgrss commented on #230
Thanks for raising this @DManowitz. Is [this issue](https://github.com/conda-forge/conda-forge.github.io/issues/727) related to what you are seeing?

Any thoughts @mmann1123?

[2022-11-23 15:44] DManowitz commented on #230
That other issue is a similar issue on MacOS.  I'm on Windows, and there, llvm-openmp installs Library/bin/libiomp5md.dll, which completely clobbers the version of the file installed by intel-openmp.

Also, I installed another package which required me to downgrade gdal to 3.4.3, so if you make this change as far back as 1.8.6, I'd appreciate it.

[2022-11-29 19:33] mmann1123 commented on #230
This is getting over my head. But I did find this discussion. There might be some argument for switching to the intel build for integration with pytorch

https://github.com/conda-forge/conda-forge.github.io/issues/1597